footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: white;
    border-bottom: 5px black;
    font-family: "Helvertica", sans-serif;
    
}
header > h1{
text-decoration: underline;
font-size: 40px;
}
  
  header > img{
      width: 300px;
      height: 300px;
  }
  #holidays{
    text-align: center;
    font-size: 20px;
  }
  .celebrationspic{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 50px;
    padding: 10px;
    background-color: #202675;
    font-size: 20px;
  }
  .celebrationspic > #celebrate1{
    height: 300px;
    width: 400px;
  }
  .celebrationspic > #celebrate2{
    height: 300px;
    width: 500px;
  }
  .celebrationspic > #celebrate3{
    height: 300px;
    width: 500px;
  }
  .celebrationspic > #celebrate4{
    height: 300px;
    width: 500px;
  }
  .celebrationspic > #celebrate5{
    height: 300px;
    width: 500px;
  }
  .celebrationspic > #celebrate6{
    height: 300px;
    width: 401px;
  }
  


/* Homepage Style */
  
  #homepage{
    text-align: center;
    font-size: 20px;
    
  }
  

  .companypics{
    display: grid;
    justify-content: center;
    background-color: #202675;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .companypics > #teamimage1{
    width: 435px;
    height: 270px;
  }
  .companypics > #teamimage2{
    width: 435px;
    height: 270;
  }
  .companypics > #teamimage3{
    width: 435px;
    height: 230px;
  }
  .companypics > #teamimage4{
    width: 435px;
    height: 250px;
  }
  .companypics > #teamimage5{
    width: 435px;
    height: 270px;
  }
  .companypics > #teamimage6{
    width: 435px;
    height: 255px;
  }
  .companypics > #teamimage7{
    width: 435px;
    height: 305px;
  }
  .companypics > #teamimage8{
    width: 435px;
    height: 285px;
  }
  .companypics > #teamimage9{
    width: 435px;
    height: 285px;
  }

/* Kelly Style */
main > #kellyimage1{
  width: 400px;
  height: 400px;
}

main > #kellyimage2{
  width: 600px;
  height: 400px;
}



  main > img{
    width: 400px;
    height: 510px;
  }


/* Oscar Style */
  main > #oscarimage{
    width: 350px;
    height: 510px;
  }

  #oscarpage{
    background-color: #202675;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }
  #kellypage{
    background-color: #202675;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }
  #stanleypage{
    background-color: #202675;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }
  #pampage{
    background-color: #202675;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }

  main > h1{
    text-align: center;
    font-family: "Helvertica", sans-serif;
  }
  ul > li{
    padding: 8px;
  }

  .work{
    display: inline-block;
    height: 410px;
    border-style: solid;
    padding: 50px;
    background-color: #d0d0d0;
    color:  black;
    font-size: 17px;
    font-family: "Helvertica", sans-serif;
  }
  
  .work>h4{
    color: #202675;
    text-align: center;
    }
  

  .life{
    display: inline-block;
    height: 410px;
    border-style: solid;
    padding: 50px;
    background-color: #d0d0d0;
    color:  black;
    font-size: 17px;
    font-family: "Helvertica", sans-serif;
  }

  .life>h4{
    color: #202675;
    text-align: center;
    }
  .favorite{
    display: inline-block;
    justify-content: center;
    height: 410px;
    border-style: solid;
    padding: 50px;
    background-color: #d0d0d0;
    color: black;
    font-size: 17px;
    font-family: "Helvertica", sans-serif;
  }

  .favorite>h4{
  color: #202675;
  text-align: center;
  }
  .work>header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 150px;
  background-color: #202675;
  color: white;
}
.life>header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 200px;
  background-color: #202675;
  color: white;
}
.favorite>header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 200px;
  background-color: #202675;
  color: white;
}


  /* Stanley Style */
  main > #stanleyimage{
    width: 900px;
    height: 510px;
  }



  /* Nav Bar */
  .companylinks{
    display: flex;
    flex-direction: row;
  }
  .companylinks a:link, a:visited{
    color: blue;
  }
  
  .companylinks a:hover{
      color: black;
      text-decoration: underline;
  }
  .companylinks a:active{
    color: hotpink;
    -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  }
  
  .employee{
    padding: 10px;
    list-style: none;
    text-decoration: none;
  }
  .home{
    padding: 10px;
    list-style: none;
    text-decoration: none;
  }
  
  @media (prefers-reduced-motion: reduce){
    #logo{
      animation: none;
    }